<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
    
        <table>
            <tr>
                <thead>
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Reason</th>
                        <th>Status</th>

                    </tr>
                    
                </thead>
                <tbody>
                    {% for i in status %}
                    <tr>
                        <td>{{i.Start_date}}</td>
                        <td>{{i.End_date}}</td>
                        <td>{{i.Matter}}</td>
                        {% if i.status %}
                        <td>confirmed</td>
                        {% else %}
                        <td>Pending</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </tr>
        </table>
        
        <script src="" async defer></script>
    </body>
</html>